/* FONTS */

@font-face {
	font-family: BirthstoneBounce-Medium;
	src: url('../fonts/BirthstoneBounce-Medium.ttf');
}

@font-face {
	font-family: Birthstone-Regular;
	src: url('../fonts/Birthstone-Regular.ttf');
}

@font-face {
	font-family: OpenSans-Regular;
	src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
	font-family: Comfortaa-SemiBold;
	src: url('../fonts/Comfortaa-SemiBold.ttf');
}

@font-face {
	font-family: Xiomara;
	src: url('../fonts/Xiomara-wWLw.ttf');
}

@font-face {
	font-family: Шрифт-Сани;
	src: url('../fonts/Alexander.ttf');
}

@font-face {
	font-family: Comfortaa-Bold;
	src: url('../fonts/Comfortaa-Bold.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

/* STYLES */

body {
	background-color: #5bc3ee;
	background-image: url('../img/bg.png');
}

.everything {
	/*no rules yet*/
}

header {
	background-color: #ffd4bf;
	display: flex;
	justify-content: space-between;
	padding: 5px;
}

header div, nav {
	/*no rules yet*/
}

.service-name > h1 {
	font-family: "Шрифт-Сани";
	font-size: 40px;
	color: #2a00d9;
}

.service-name > img {
	display: block;
	color: #2a00de;
	height: 38px;
	width: auto;
	margin-top: 2px;
	margin-left: 5px;
	justify-content: center;
}

.ph-nav-menu {
	display: none;
	justify-content: space-between;
}

.ph-nav-buttons [
	type="checkbox"
] {
	display: none;
}

.ph-nav-buttons {
	overflow: hidden;
	border-bottom: 3px solid #313131;
}

.ph-nav-buttons > nav {
	width: 100%;
}

.ph-nav-buttons > nav ul {
	display: block;
	max-height: 0;
	width: 100%;
	max-height: 0;
	transition: 2s all;
}

.ph-nav-buttons > nav ul li {
	display: none;
	position: relative;
	background: pink;
	padding-right: 4px;
	padding-left: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.fphnbl {
	margin-top: 5px;
}

.lphnbl {
	margin-bottom: 5px;
}

.ph-nav-buttons > nav ul li a {
	display: block;
	background: lightgreen;
	padding: 9px;
	text-decoration: underline;
	font-family: 'Comfortaa-SemiBold';
	color: #282828;
	font-size: 16px;
}

label.menu {
	display: block;
	width: 100%;
	background: pink;
	font-family: 'Comfortaa-SemiBold';
	transition: 0.2s all;
	font-size: 18px;
	padding: 10px;
}

label.menu > i, p {
	display: inline-block;
}

label.menu > p {
	margin-left: -4px;
}

input.menu:checked + label.menu {
	background: #ffadb9;
	color: ;
}

input.menu:checked ~ ul {
	display: block;
	max-height: 5000px;
	transition: max-height 2s ease-in;
}

input.menu:checked ~ ul li { 
	display: block;
}

header > nav ul li {
	display: inline-block;
	margin-top: 4px;
	margin-right: 10px;
}

header > nav ul li a {
	font-family: 'OpenSans-Regular';
	font-size: 18px;
	color: #282828;
	text-decoration: none;
	position: relative;
	padding: 6px;
	overflow: hidden;
	display: block;
	transition: 0.2s all;
	border-radius: 7px;
}

header > nav ul li a::before {
	position: absolute;
	content: '';
	background: #ff4b1f;
	background: -webkit-linear-gradient(to right, #ff9068, #ff4b1f);
	background: linear-gradient(to right, #ff9068, #ff4b1f);
	bottom: 0;
	left: -100%;
	width: 100%;
	height: 3px;
	transition: 0.3s all;
}

header > nav ul li a:hover::before {
	left: 0;
}

header > nav ul li a:active {
	color: palevioletred;
}

header > nav ul li a:active::before {
	background: dodgerblue;
}

.content {
	margin-left: 10%;
	margin-right: 10%;
	height: 10px;
	justify-content: center;
}

.window {
	display: block;
	/*padding: 10px;*/
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0px 0px 5px #4c4c4c;
	transition: 0.4s all;
	margin-top: 50px;
}

.window:hover {
	transform: scale(1.013);
	box-shadow: 0px 0px 7px #393939;
}

.window-last {
	margin-bottom: 40px;
}

.window-name {
	background: #535279;
	padding: 11px;
	text-align: center;
	border-radius: 4px 4px 0px 0px;
}

.window-name > h1 {
	color: white;
	font-family: 'Xiomara';
	font-size: 23px;
}

.window-name > h1:hover {
	cursor: default;
}

.window-content {
	background: white;
	padding: 13px;
	border-radius: 0px 0px 4px 4px;
}

.window-content > nav ul li {
	margin: 5px;
	margin-left: 15px;
	font-family: 'Comfortaa-SemiBold';
}

.window-content > nav ul li a {
	color: blue;	
	text-decoration: underline;
}

.window-content > nav ul li a:hover {
	color: green;
}

.window-content > nav ul li a:active {
	color: orange;
}

.window-content h1 {
	font-size: 1.2em /*22px*/;
	font-family: 'Comfortaa-Bold';
	text-align: center;
}

.window-content-hr {
	display: none;
}

.window-content p {
	font-size: 1em;
	font-family: 'Comfortaa-SemiBold';
	margin-top: 5px;
}

.window-content p a {
	color: blue;
	transition: 0.15s all;
}

.window-content p a:hover {
	color: darkcyan;
}

.window-content p a:active {
	color: coral;
}

#center-text {
	text-align: center;
}

.v8works-mainpage {
	text-align: center;
}

.v8works-mainpage h1 {
	margin-bottom: 5px;

}

.v8works-mainpage p {
	margin-bottom: 5px;
}

.hr-classic {
	background: grey;
	padding: 1.5px;
	border-radius: 2px;
	border: none;
}



.carousel {
  background: /*black*/ /*grey*/;
  background: rgb(255,255,255); /* Old browsers */
  background: -webkit-linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(201,201,201,1) 79%,rgba(246,246,246,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 );
  margin-bottom: 30px;
}

.carousel-cell {
  width: 70%;
  height: 200px;
  /* flex-box, center image in cell */
  display: -webkit-box;
  display: -webkit-flex;
  display:         flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
}

.carousel-cell img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  /* dim unselected */
  opacity: 0.7;
  color: black;
  font-family: 'Arial';
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
          transition: opacity 0.3s, transform 0.3s, filter 0.3s;
}

/* brighten selected image */
.carousel-cell.is-selected img {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: none;
          filter: none;
}

@media screen and ( min-width: 768px ) {
  .carousel-cell {
    height: 400px;
  }
}

@media screen and ( min-width: 960px ) {
  .carousel-cell {
    width: 60%;
  }
}

/* buttons, no circle */
.flickity-prev-next-button {
  width: 60px;
  height: 60px;
  background: transparent;
  opacity: 0.6;
}
.flickity-prev-next-button:hover {
  background: transparent;
  opacity: 1;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: white;
}
/* closer to edge */
.flickity-prev-next-button.previous { left: 0; }
.flickity-prev-next-button.next { right: 0; }
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}

.item-in-window-content {
	background: lightgrey;
	display: ;
}

.item-in-window-content img {
	height: auto;
}

.about-site p {
	/* no special styles yet */
}

.gallery {
	margin-bottom: 30px;
}

.gallery-cell {
  width: 66%;
  height: 300px;
  margin-right: 10px;
  background: #8C8;
}

.gallery-cell img {
	width: 100%;
	height: 200px;
}

.gallery-cell h1 {
	margin-top: 5px;
}

.gallery-cell p {
	margin-top: 7px;
	margin-left: 15px;
	margin-right: 15px;
}

.ph-gc-img {
	display: none;
}

.gc-download-button {
	background: dodgerblue;
	width: 100%;
	margin-top: 2.3em;
	display: block;
	text-align: center;
}

.gc-download-button p {
	margin: 10px;
	color: white;
	font-family: 'Comfortaa-Bold';
}

.gc-download-button:hover {
	background: #0a70d4;
}












/* SEX RULES */

.putin:active {
	navalny: passive;
	sex: gay-default;
}

.vionar:active {
	trourodniy-bratik: passive;
	sex: ahuenniy;
}

.linux:active {
	windows: passive;
	sex: smachniy;
}

.aboba:active {
	amogus: passive;
	sex: smachniy, result(kids);
}

@kidsofsex {
	aboba, amogus {
		kid: abobus;
	}
}